<header>

    <div class="header-container">
      <div class="col navigation">
        <a class="button is-light">
          <span class="icon is-small">
            <i class="fas fa-chevron-left"></i>
          </span>
        </a>
        <a class="button is-warning">
          <p>Dashboard</p>
        <a class="button is-light">
          <span class="icon is-small">
             <i class="fas fa-chevron-right"></i>
           </span>
        </a>

        <a class="button is-light">
          <span>
            DE
          </span>
          <span class="icon is-small">
            <i class="fas fa-chevron-down"></i>
           </span>
        </a>
      </div>

      <div class="col page-title">
        <p class>Daily Vocabulary</p>
      </div>

      <div class="col profile">
        <%= current_user.email %>
        <%= link_to "logout", destroy_user_session_path, method: :delete, class: "button is-light" %>
      </div>

</header>
