<vue-word-form inline-template>
  <%= form_for(@word, url: { action: 'create', controller: 'words' }, remote: true) do |f| %>
    <div class="form">
      <div class="form-group">
        <%= f.text_field :original, class: "form-control", placeholder: "Word" %>
      </div>
      <!-- <div class="form-group">
        <%= f.text_field :translation, class: "form-control", placeholder: "Translation" %>
      </div> -->

      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-info btn-block btn-sm" %>
      </div>
    </div>
  <% end %>
</vue-word-form>
